.container-fluid{
  background-image: url("landing-images/background.jpg");
  background-size: cover;
  height: 800px;
}
.tools{
  width: 75px;
  height: 70px;
}
.tools:hover{
  transition: .2s;
  transform: scale(1.5);
  z-index:100;
}
.row-1{
  height: 100px;
}
.row-2{
  height: 100px;
}
.row-3{
  height:100px;
}
.row-4{
  height: 100px;
}
.row-pioneer-table{
  height: 100px;
}
.table{
  width: 125px; 
}
.table2{
  width: 200px;
}
.projects{
  width:115px;
}
.projects:hover{
  transition: .2s;
  transform: scale(1.5);
  z-index:100;
}
.languages{
  width:115px;
}
.languages:hover{
  transition: .2s;
  transform: scale(1.5);
  z-index:100;
}
.pioneer{
  z-index: 100;
}
.pioneer:hover{
  transition: .2s;
  transform: scale(1.25);
  z-index:125;
}
.pioneer-col{
  height: 500px;
}