.container-fluid{
  background-image: url("landing-images/background.jpg");
  background-size: cover;
  height: 800px;
}
.container2{
  background-image: url(landing-images/background.jpg);
  background-size: cover;
  height: 300px;
}
.container3{
  background-image: url(landing-images/background.jpg);
  background-size: cover;
  height: 300px;
}
.container4{
  background-image: url(landing-images/background.jpg);
  background-size: cover;
  height: 300px;
}
.container4{
  background-image: url(landing-images/background.jpg);
  background-size: cover;
  height: 300px;
}
.tools{
  width: 75px;
  height: 70px;
  z-index: 100;
}
.tools:hover{
  transition: .2s;
  transform: scale(1.5);
  z-index:100;
}
.row-1{
  height: 100px;
}
.row-2{
  height: 100px;
}
.row-3{
  height:100px;
}
.row-4{
  height: 100px;
}
.row-pioneer-table{
  height: 100px;
}
.table{
  width: 125px; 
}
.table2{
  width: 200px;
}
.projects{
  width:115px;
}
.projects:hover{
  transition: .2s;
  transform: scale(1.5);
  z-index:100;
}
.languages{
  width:115px;
}
.languages:hover{
  transition: .2s;
  transform: scale(1.5);
  z-index:100;
}
.pioneer{
  z-index: 100;
}
.pioneer:hover{
  transition: .2s;
  transform: scale(1.25);
  z-index:125;
}
.pioneer-col{
  height: 500px;
}
#experience{
  color: white;
  text-shadow: 1px 1px 0 black;
}
#about-me{
  color: white;
  text-shadow: 1px 1px 0 black;
}
#projects{
  color: white;
  text-shadow: 1px 1px 0 black;
}
#languages{
  color: white;
  text-shadow: 1px 1px 0 black;
}